aiofiles==25.1.0
aiogram==3.31.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-types==0.8.0
anyio==4.15.1
attrs==26.1.0
certifi==2026.7.22
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
magic-filter==1.0.12
multidict==6.9.1
numpy==2.5.3
pandas==2.3.3
propcache==0.5.4
psutil==7.2.2
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.4
pytz==2026.4
six==1.17.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
yarl==1.25.1
Pillow==12.3.0
